{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}


<div class="card">
<div class="row">

	<div class="col col-md-4">
		<img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
	</div>

	<div class="col col-md-8">
		<div class="card-body">
			<h5 class="card-title">{{ movie.title }}</h5>
			<p class="card-text">{{ movie.overview }}</p>
		</div>
	

		<ul class="list-group list-group-flush">
			<li class="list-group-item">{{ movie.title }}</li>
		{# {% for genre in movie.genres %}
			<li class="list-group-item">{{ genre }}</li>
		{% endfor %} #}
			<li class="list-group-item">{{ movie.id }}</li>
		</ul>

		<div class="card-body">
			<a href="https://www.themoviedb.org/movie/{{ movie.id }}?language=fr" class="card-link">La Fiche Tmdb</a>
		</div>

		<div class="card-body">
			<a href="{{ path('movie_getbyid', {id: movie.id}) }}" class="card-link">Voir la fiche du film</a>
		</div>

		<div class="card-body">
			<a class="btn btn-primary" href="{{ path('movie_addid', {id: movie.id}) }}" class="card-link">Ajouter à la collection</a>
		</div>
		{#  Add button back to home #}
		{# <div class="card-body">
			<a class="btn btn-primary" href="{{ path('search_', {id: movie.id}) }}" class="card-link">Retour à l'accueil</a>
		</div> #}
	</div>
</div>


</div>
{% endblock %}
