<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
{# <div class="bg-dark"> #}
	Les derniers films ajoutés
	{% for movie in lastMovie %}
		<div class="list-group-item list-group-item-action d-flex gap-3 py-3" style="border:none"> 
			{#  en incluant, il y a trop d'infos, je réduis donc les données affichées #}
			{# {% include 'movie/_card-movie.html.twig' %} #}
			<div class="card col-12 m-2 w-75 cardResult";>
					<div class="row">
						<div class="col-12">
							<img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top h-100 d-inline-block p-3" alt=" {{ movie.title }} ">			
						</div>
						<div class ="col-12">
							<div class="card-body">
								<h5 class="card-title">{{ movie.title }}</h5>	
							</div>
						</div>
						{# <div class="card-body button">
							<a class="btn btn-primary m-2" href="https://www.themoviedb.org/movie/{{ movie.id }}?language=fr" class="card-link">La Fiche Tmdb</a>
							<a class="btn btn-primary m-2" href="{{ path('movie_getbyid', {id: movie.id}) }}" class="card-link">Voir la fiche du film</a>
							{% if addLink is defined %}
								<a class="btn btn-primary m-2" href="{{ path('movie_addid', {id: movie.id}) }}" class="card-link">Ajouter à la collection</a>
							{% endif %}
						</div> #}
					</div>
				</div>
		</div> 
	{% endfor %}
</div>