{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}

<h1> Bonjour Tom ceci est la page d'accueil de ton site, tu t'en occuperas plus tard </h1>

<a href="{{ path('movie_liste')}}" class="btn btn-outline-primary" role="button">Films</a>
{# <a href="{{ path('...')}}" class="btn btn-outline-secondary">Livres</a>
<a href="{{ path('...')}}" class="btn btn-outline-success">Musique</a>
<a href="{{ path('...')}}" class="btn btn-outline-danger">Jeux Vidéos</a>
<a href="{{ path('...')}}" class="btn btn-outline-warning">Collection personnalisée</a> #}
{% endblock %}
