{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}

<div class="row">

{% for data in data %}
<div class="card col-3" style="18rem">
  <img src="https://image.tmdb.org/t/p/w500/{{ data.poster_path }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ data.title }}</h5>
    <p class="card-text">{{ data.overview }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ data.title }}</li>
{# {% for genre in data.genres %}
    <li class="list-group-item">{{ genre }}</li>
{% endfor %} #}
    <li class="list-group-item">{{ data.id }}</li>
  </ul>
  <div class="card-body">
    <a href="https://www.themoviedb.org/movie/{{ data.id }}?language=fr" class="card-link">La Fiche Tmdb</a>

  </div>
</div>
{% endfor %}

</div>

{% endblock %}

