<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: rgb(71,6,174);">
  <div class="container-fluid ">
    <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('img/logo.svg')}}" alt="" width="40" height="35" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
  <nav class="navbar navMenu">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav navbar-nav-scroll">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Collections
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Cliquezpour voir vos films" href="{{ (is_granted("ROLE_USER") ? path('movie_liste') : path('home')) }}">Films</a></li>
            <li><a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction" href="{{path('books_home')}}">Livres</a></li>
            <li><a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction" href="{{path('musics_home')}}">Musiques</a></li>
            <li><a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction" href="{{path('bd_home')}}">Bande-Dessinées</a></li>  
            <li><a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction" href="{{path('comics_home')}}">Comics</a></li>
            <li><a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction" href="{{path('games_home')}}">Jeux Vidéo</a></li>
          </ul>
        </li>
         {% if app.user is null %}			
		    <a class="nav-link" href="{{ path('app_login') }}" role="button">Se connecter</a> 
		    {% else %}
          <a class="nav-link"  href="{{ (is_granted("ROLE_ADMIN") ? path('admin_dashboard')) }}">Administration</a>
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
          <a class="nav-link" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>
            {{ app.user.pseudo }}</b></a>
        {% endif %}
      </ul>    
    </div>
  </div>
</nav>