<nav class="navbar navbar-expand-xl navbar-light sticky-top" style="background-color: rgb(71,6,174);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('home_liste_login')}}">
      <img src="{{asset('img/logo.svg')}}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      
    </a>
  </div>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Collections
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Cliquez pour accéder à vos films"><a class="dropdown-item" href="{{ path('movie_liste')}}">Films</a></button></li>
            {# <li><hr class="dropdown-divider"></li> #}
            <li><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction"><a class="dropdown-item" href="{{path('books_home')}}">Livres</a></button></li>
            {# <li><hr class="dropdown-divider"></li> #}
            <li><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction"><a class="dropdown-item" href="{{path('musics_home')}}">Musiques</a></button></li>
            {# <li><hr class="dropdown-divider"></li> #}
            <li><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction"><a class="dropdown-item" href="{{path('bd_home')}}">Bande-Dessinées</a></button></li>
            {# <li><hr class="dropdown-divider"></li> #}
            <li><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction"><a class="dropdown-item" href="{{path('comics_home')}}">Comics</a></button></li>
            {# <li><hr class="dropdown-divider"></li> #}
            <li><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="En cours de construction"><a class="dropdown-item" href="{{path('games_home')}}">Jeux Vidéo></a></button></li>
          </ul>
        </li>
        {# <li class="nav-item">
          <a class="nav-link disabled">Lien 3 </a>
        </li> #}
      </ul>
      
     
      {# {{ dump(app.user) }} #}
      {% if app.user is null %}			
		    <a class="btn btn-success" href="{{ path('app_login') }}" role="button">Login</a> 
		  {% else %}
          <a class="nav-link active" aria-current="page" href="{{ path('admin_dashboard')}}">Administration</a>
        <div>
       
				  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ app.user.pseudo }}
          </a>
       
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="btn btn-danger" href="{{ path('admin_dashboard')}}" type="button">Administration</a></li>
            <li><a class="btn btn-danger" href="#" type="button">Profil</a></li>
            <li><a class="btn btn-danger" href="{{ path('app_logout') }}" type="button">Déconnexion</a></li>
          </ul>
        </div>
      {% endif %}

			{# option class="btn btn-primary"#}
			{# <button class="btn btn-outline-success" type="submit">Search</button> #}
		
    </div>
  </div>
</nav>