{# {% extends 'base.html.twig' %} #}
{% extends 'admin.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/admin.css')}}">
{% endblock %}
{% block title %}Collections index{% endblock %}

{% block body %}
    <h1>Collections index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.id }}</td>
                <td>{{ collection.Type }}</td>
                <td>
                    <a href="{{ path('admin_collections_show', {'id': collection.id}) }}" class="btn btn-primary"><i class="bi bi-eye"> Voir</i></a>
                    <a href="{{ path('admin_collections_edit', {'id': collection.id}) }}" class="btn btn-info"><i class="bi bi-pencil"> Editer</i></a>
                    <a href="{{ path('admin_collections_delete', {'id': collection.id}) }}" class="btn btn-danger"><i class="bi bi-trash"> Supprimer</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_collections_new') }}">Create new</a>
{% endblock %}